.heroContainer {
  min-height: 40vw;
  background-color: #dddddd;
  display: block;
  position: relative;
  margin: auto;
}
.container {
  position: relative;
}
.video,
.htext {
  display: none;
}

.hero {
  width: 80vw;
}
.brand {
  width: 25vw;
  height: 15vw;
  max-width: 180px;
  position: absolute;
  top: -0.75vw;
  left: 3vw;
}

@media (min-width: 600px) {
  .video {
    display: block;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
  }
  .htext {
    display: block;
    background: rgba(240, 240, 240, 0.8);
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .htext h1 {
    margin: 0;
    padding: 15px 15px 0;
    color: black;
  }
  .htext p {
    padding: 0 15px 15px;
    color: black;
    font-style: italic;
  }
  .heroContainer {
    display: none;
  }
}
