.heroContainer {
  min-height: 40vw;
  background-color: #dddddd;

  position: relative;
  margin: auto;
}

.hero {
  width: 80vw;
}
.brand {
  width: 18vw;
  max-width: 180px;
  position: absolute;
  top: 1.2vw;
  left: 2.5vw;
}

@media (min-width: 600px) {
  .heroContainer {
    min-height: 350px;
    max-height: 450px;
    max-width: 800px;
    background-color: #dddddd;
  }
  .hero {
    max-width: 800px;
  }
}
